<?xml version="1.0" encoding="utf-8"?>
<manifest package="me.li2.android.tutorial"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- NOTE21: to fix issue when use dirchooser: manifest merged failed theme, should add tools:replace -->
    <application
        xmlns:tools="http://schemas.android.com/tools"
        tools:replace="android:theme"
        android:name=".BasicUI.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BasicUI.TutorialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="net.rdrei.android.dirchooser.DirectoryChooserActivity" />

        <activity android:name=".Retrofit2.RetrofitTutorial"/>
        <activity android:name=".Retrofit2.L1GettingStarted.GettingStartedActivity"/>
        <activity android:name=".Retrofit2.L5SendObjectsInRequestBody.SendObjectsInRequestBody"/>
        <activity android:name=".Retrofit2.L9IntegrateXMLConverter.IntegrateXMLConverter"/>
        <activity android:name=".Retrofit2.L11QueryParameters.QueryParameters"/>
        <activity android:name=".Retrofit2.L14SendDataFormUrlencoded.SendDataFormUrlencoded"/>
        <activity android:name=".Retrofit2.L15UploadFiles.UploadFile"/>

        <activity android:name=".Picasso.PicassoTutorial"/>
        <activity android:name=".Picasso.PhotoPageActivity"/>
        <activity android:name=".Picasso.L1ImageLoading.ImageLoading"/>
        <activity android:name=".Picasso.L2ImageDisplaying.ImageDisplaying"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity android:name=".View.ViewTutorial"/>
        <activity android:name=".View.ImageViewScaleType"/>
        <activity android:name=".View.MultipleScreenDrawableResources"/>
        <activity android:name=".View.NotificationTest"/>
        <activity android:name=".View.SimpleRecyclerView"/>

        <activity android:name=".Gson.GsonTutorial"/>
        <activity android:name=".Gson.ChangeSettingsAccess.ChangeSettingsAccessActivity"/>

        <activity android:name=".BasicUtils.StorageUtils.StorageTutorial"/>

    </application>

</manifest>